@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.mat-card-transparent {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0;
}
.forgot-password-link {
  display: block;
  margin: $grid-unit-y * 2 auto 0;
  color: $color-secondary-4;
  text-decoration: underline;
}
