@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

:host ::ng-deep {
  .pe-info-box > .info-box.not-fullwidth-mobile {
    overflow: visible;
  }
}

::ng-deep .pe-bootstrap entry-forgot-password .form-table .form-fieldset {
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.fixed-entry-form {
  @media (max-width: 719px) {
    // width: 326px;
    // margin: 48px auto 0 auto;
  }
}

@media (max-width: 719px) {
  .form-table, entry-error {
    width: calc(100% - #{$grid-unit-y});
    margin-left: ($grid-unit-y/2);
  }
}
