<div class="logo-wrapper">
  <span class="logo-header" [style.height]="'inherit'">
      <svg class="icon" [style.width.px]="entryLogo.width" [style.height.px]="entryLogo.height"><use [attr.xlink:href]="entryLogo.href"></use></svg>
  </span>
</div>

<p *ngIf="!success" class="heading text-center" translate>password.forgot.reset_password</p>

<form novalidate
      class="form-table form-table-no-margin form-table-border-radius-md fixed-entry-form"
      [formGroup]="form"
      *ngIf="form && !success">

  <pe-form-fieldset class="transparent pe-form-fieldset"
                    [isSubmitted]="isSubmitted"
                    [fields]="formScheme.fieldsets['login']"
                    [formGroup]="form"
                    [translationScope]="formTranslationsScope"
                    [errors]="errors$ | async"
                    [formStyle]="'default'"
  ></pe-form-fieldset>

  <button mat-raised-button
          class="mat-button-block"
          type="submit"
          (click)="onSubmit()"
  >
    <pe-progress-button-content class="mat-progress-spinner-light" [loading]="isLoading" >{{ 'actions.reset' | translate }}</pe-progress-button-content>
  </button>

</form>

<button *ngIf="!success"
        mat-button
        type="button"
        class="mat-button-link mat-button-no-padding back-button"
        translate
        (click)="back()"
>actions.cancel</button>
        <!-- [routerLink]="['/entry']" -->

<!--
<pe-info-box-confirm *ngIf="success"
                     [icon]="'icon-check2-16'"
                     [title]="'password.forgot.success' | translate"
                     [subtitle]="'password.forgot.message' | translate:{email: email}"
                     [cancelButtonTitle]="''"
                     [confirmButtonTitle]="'password.forgot.back' | translate"
                     (onConfirm)="navigateToEntry()">
</pe-info-box-confirm>
-->

<div class="text-center dark" *ngIf="success">
  <br><br>
  <svg class="icon" [class.icon-32]="isMobile$ | async" [class.icon-48]="!(isMobile$ | async)"><use [attr.xlink:href]="'#icon-check2-16'"></use></svg>
  <div class="heading-2">{{ 'password.forgot.success' | translate }}</div>
  <p class="descriptions">{{ 'password.forgot.message' | translate:{email: email} }}</p>
  <br>
  <br>
  <div class="buttons">
    <button mat-button
            type="button"
            class="mat-button-link mat-button-no-padding back-button"
            (click)="navigateToEntry()"
            translate
    >password.forgot.back</button>
  </div>
</div>
