<pe-widget *ngIf="widget" [widget]="widget" [theme]="theme$ | async"></pe-widget>
<!--TODO: Remove after approving WIDGET-1, COSF-343-->
<!--<widget-card-->
<!--  [appCode]="appName"-->
<!--  [title]="'widgets.settings.title' | translate"-->
<!--  [iconSrc]="iconUrl | iconsPngUrl"-->
<!--  [installIconSrc]="installIconUrl | iconsPngUrl"-->
<!--  [learMoreUrl]="widget?.helpUrl"-->
<!--  [showButtonSpinner]="showButtonSpinner$ | async"-->
<!--  (onClick)="onOpenButtonClick()"-->
<!--  [showInstallAppButton]="false"-->

<!--&gt;-->
<!--  <widget-action-button class="settings-widget-button" [icon]="'#icon-settings-dashboard-skin-48'" [title]="'widgets.settings.actions.edit-wallpaper' | translate"-->
<!--                        (onClick)="onEditWallpaper()"></widget-action-button>-->
<!--  <widget-action-button class="settings-widget-button" [icon]="'#icon-settings-translations-48'" [title]="'widgets.settings.actions.edit-language' | translate"-->
<!--                        (onClick)="onEditLanguage()"></widget-action-button>-->
<!--</widget-card>-->
