@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.feedback-area {
  width: 50%;
  margin: auto;
  @media (max-width: $viewport-breakpoint-sm-2 - 1) {
    width: 90%;
  }

  .feedback-heading {
    position: absolute;
    top: 50%;
    margin-top: - $margin_adjust * 42.5;
    width: 50%;
    color: $color-secondary-7;
    @include payever_transform_translate(0, -50%);
    @media (max-width: $viewport-breakpoint-sm-2 - 1) {
      width: 90%;
    }
  }

  .feedback-response {
    position: absolute;
    top: 50%;
    width: 50%;
    color: $color-secondary;
    @include payever_transform_translate(0, -50%);
    @media (max-width: $viewport-breakpoint-sm-2 - 1) {
      width: 90%;
    }
  }

  .feedback-input-container {
    width: 50%;
    position: absolute;
    top: 50%;
    @include payever_transform_translate(0, -50%);
    @media (max-width: $viewport-breakpoint-sm-2 - 1) {
      width: 90%;
    }

    .feedback-categories {
      margin-top: $margin_adjust * 5;
      @include pe_flexbox();
      @include pe_justify-content(space-around);

      .category {
        color: $color-secondary-1;
        cursor: pointer;
        margin: 0;

        &.active {
          color: $color-secondary;
        }
      }
    }
  }

  .submit-container {
    position: absolute;
    top: 50%;
    @include payever_transform_translate(0, -50%);
    margin-top: $margin_adjust * 45;
    width: 50%;
    @media (max-width: $viewport-breakpoint-sm-2 - 1) {
      width: 90%;
    }

    .submit-btn {
      display: block;
      width: 40%;
      margin: auto;
      background-color: $color-secondary-2;
      border-radius: $border-radius-base * 2;
      margin-bottom: $margin_adjust * 5;
      @include payever_transition(background-color);
      @media (max-width: $viewport-breakpoint-sm-2 - 1) {
        width: 90%;
      }

      &:hover {
        background-color: $color-secondary-2;
      }

      .btn-text {
        margin: 0;
        color: $color-primary-1;
      }
    }

    .contact-btn {
      display: block;
      margin: auto;
      color: $color-secondary;

      .btn-text {
        margin: 0;
      }
    }
  }
}
