<div class="login-wrapper">

    <entry-error [errorText]="showErrorText$ | async"></entry-error>
    <form novalidate
          class="form-table form-table-border-radius-md"
          [formGroup]="form"
          *ngIf="form && !withoutCreds">
        <pe-form-fieldset class="transparent pe-form-fieldset"
                          [isSubmitted]="isSubmitted"
                          [fields]="formScheme.fieldsets['login']"
                          [formGroup]="form"
                          [translationScope]="formTranslationsScope"
                          [errors]="errors$ | async"
                          [formStyle]="'default'"
        ></pe-form-fieldset>
        <div *ngIf="this.form.get('recaptchaToken').enabled" class="pe-recaptcha-wrap-wrap">
          <div class="pe-recaptcha-wrap">
            <pe-recaptcha [size]="'normal'"
                          [theme]="'dark'"
                          (verified)="onReCaptchaVerified($event)"></pe-recaptcha>
          </div>
        </div>
        <button mat-raised-button
                class="mat-button-block"
                [class.without-creds]="withoutCreds"
                type="submit"
                [disabled]="isLoading$ | async"
                (click)="onLoginClick()">
            <pe-progress-button-content class="mat-progress-spinner-light" [loading]="isLoading$ | async" >{{ 'actions.login' | translate }}</pe-progress-button-content>
        </button>
    </form>
    <button *ngIf="withoutCreds"
            mat-raised-button
            class="mat-button-block"
            [class.without-creds]="withoutCreds"
            type="submit"
            [disabled]="isLoading$ | async"
            (click)="onLoginClick()"
    >
        <pe-progress-button-content class="mat-progress-spinner-light" [loading]="isLoading$ | async" >{{ 'actions.login' | translate }}</pe-progress-button-content>
    </button>

    <p class="password-forgot-wrap">
      <a mat-button class="mat-button-link" translate (click)="navigateToPassword()">forms.login.password_forgot_link</a>
    </p>

    <ng-content></ng-content>
</div>
