@import "~@pe/ui-kit/scss/pe_variables";
@import url('../../../../../node_modules/normalize.css/normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:host {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  overflow: hidden;
  background: $color-background;
}

.coupons-container {
  height: calc(100% - 26px);
  overflow: auto;
}
