<div class="success__wrapper">
  <div class="success__icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56">
      <g fill="none" fill-rule="evenodd">
        <g fill="#00B640">
          <g>
            <g>
              <path d="M28 0c15.464 0 28 12.536 28 28S43.464 56 28 56 0 43.464 0 28 12.536 0 28 0zm14.86 16.053c-.53-.144-1.095.01-1.483.404l-19.499 19.77-7.255-7.378c-.6-.608-1.573-.608-2.173 0-.6.61-.6 1.597 0 2.206l8.341 8.479c.287.296.678.464 1.087.466.42.007.824-.162 1.117-.466L43.55 18.662c.388-.394.54-.968.398-1.506-.142-.538-.557-.959-1.087-1.103z" transform="translate(-655 -249) translate(479 184) translate(176 65)"/>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
  <div class="success__header">
    Success!
  </div>
  <div class="success__content">You have successfully published
    your new website.</div>
  <button class="success__button" (click)="dialogRef.close(true)">Open</button>
  <button class="success__button" style=" background-color: #ffffff4c" (click)="dialogRef.close()">Close</button>
</div>
