@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.reset-password-form-wrapper {
  padding: $grid-unit-y * 3 0;

  ::ng-deep .new-password-control {
    z-index: 2 !important; // Why????
  }

  ::ng-deep .form-table .form-fieldset .row > [class*=col] {
    border-top: 0 solid !important;
  }
}
