<div class="logo-wrapper">
  <span class="logo-header" [style.height]="'inherit'">
      <svg class="icon" [style.width.px]="entryLogo.width" [style.height.px]="entryLogo.height"><use [attr.xlink:href]="entryLogo.href"></use></svg>
  </span>
</div>

<div class="reset-password-form-wrapper" *ngIf="!success">
  <form novalidate
        class="form-table form-table-no-margin form-table-border-radius-md"
        (ngSubmit)="onSubmit()"
        [formGroup]="form"
        *ngIf="form"
  >

    <pe-form-fieldset class="transparent pe-form-fieldset"
                      [isSubmitted]="isSubmitted"
                      [fields]="formScheme.fieldsets['reset_password']"
                      [formGroup]="form"
                      [translationScope]="formTranslationsScope"
                      [errors]="errors$ | async"
                      [formStyle]="'default'"
    ></pe-form-fieldset>

    <button mat-raised-button
            class="mat-button-block"
            type="submit"
            (click)="onSubmit()"
            [disabled]="!form.valid"
            translate
    >actions.reset</button>

  </form>
</div>

<div class="text-center dark" *ngIf="success">
  <br><br>
  <svg class="icon" [class.icon-32]="isMobile$ | async" [class.icon-48]="!(isMobile$ | async)"><use [attr.xlink:href]="'#icon-check2-16'"></use></svg>
  <div class="heading-2" translate>password.reset.success</div>
  <p class="descriptions" translate>password.reset.message</p>
  <br>
  <br>
  <div class="buttons">
    <button mat-button
            type="button"
            class="mat-button-link mat-button-no-padding back-button"
            [routerLink]="['/entry']"
            translate
    >password.reset.back</button>
  </div>
</div>
