@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.help-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $color-primary-4;
    z-index: -1;
  }

  .back-btn {
    position: absolute;
    top: $margin_adjust * 4;
    right: $margin_adjust * 4;
    width: $icon-size-48;
    height: $icon-size-48;
    padding: 0;
    color: $color-secondary;
    @include payever_transition(opacity);

    &:hover {
      opacity: 0.75;
    }
  }
}
