<div class="notifications-wrapper">
  <mat-card class="notifications-card">
    <div class="layout-blur-middle-bg background-blur"></div>
    <div class="notifications-card-header" *ngIf="title">
      <div class="notifications-card-header-icon" [style.background-image]="'url(' + iconSrc + ')'"></div>
      <span class="notifications-card-header-title">{{title | translate}}</span>
      <span *ngIf="notifications.length > 1" class="notifications-card-header-counter">
        {{ notifications.length }}
      </span>
      <button *ngIf="notifications.length > 1" mat-button
        class="notifications-card-header-more mat-button-no-padding mat-button-xs" (click)="onMoreClick($event)">
        {{opened ? 'Less' : 'More'}}
      </button>
    </div>
    <ng-container [ngSwitch]="notifications?.length > 0">
      <ng-container *ngSwitchCase="true">
        <div class="notifications-card-content">
          <div class="notifications-card-paddings">
            <mat-list class="mat-list-transparent mat-list-transparent-no-padding">
              <ng-container [ngTemplateOutlet]="notification_item"
                [ngTemplateOutletContext]="{ notification: notifications[0] }">
              </ng-container>
            </mat-list>
          </div>
        </div>
        <div class="notifications-card-content-more" [class.notifications-opened]="opened">
          <div class="notifications-card-paddings">
            <mat-list class="mat-list-transparent mat-list-transparent-no-padding">
              <ng-container *ngFor="let notification of notifications; let index = index;">
                <ng-container *ngIf="index !== 0" [ngTemplateOutlet]="notification_item"
                  [ngTemplateOutletContext]="{ notification: notification }">
                </ng-container>
              </ng-container>
            </mat-list>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <div class="notifications-card-content">
          <div class="notifications-card-paddings">
            <mat-list class="mat-list-transparent mat-list-transparent-no-padding">
              <ng-container [ngTemplateOutlet]="notification_item"
                [ngTemplateOutletContext]="{ notification: { message: 'No new notifications' } }">
              </ng-container>
            </mat-list>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </mat-card>
</div>

<ng-template #notification_item let-notification="notification">
  <mat-list-item class="notification-item mat-list-item-no-padding-left mat-list-item-no-padding-right">
    <div class="mat-list-item-flex">
      <div class="mat-list-item-col">
        <span>
          <svg class="icon icon-8"><use xlink:href="#icon-n-indicator-16"></use></svg>
        </span>
        <span class="notifications-title">{{notification.message | translate}}</span>
      </div>
    </div>
    <div class="text-right" *ngIf="notification.id">
      <button
        mat-raised-button
        class="mat-button-rounded mat-button-xs"
        color="muted-light"
        (click)="open.emit(notification)">
        <pe-progress-button-content
          [spinnerStrokeWidth]="2"
          [spinnerDiameter]="15"
          [loading]="notification.open$ | async">
          <span translate>actions.open</span>
        </pe-progress-button-content>
      </button>
      <button
        mat-raised-button
        class="mat-button-rounded mat-button-xs close-button"
        color="muted-light"
        (document:keydown.esc)="close.emit(notification)"
        (click)="close.emit(notification)">
        <pe-progress-button-content
          [spinnerStrokeWidth]="2"
          [spinnerDiameter]="15"
          [loading]="notification.delete$ | async">
          <svg class="icon icon-8"><use xlink:href="#icon-close-12"></use></svg>
        </pe-progress-button-content>
      </button>
    </div>
  </mat-list-item>
</ng-template>
