@import "~@pe/ui-kit/scss/pe_variables";

:host {
  .registration-header-title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    color: $color-white;
    margin: 16px 0 24px;
  }

  .features {
    border-radius: $border-radius-base * 2;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    margin-top: 18px;
    padding: 13px;

    &__lines {
      display: flex;
      flex-direction: column;
      font-family: Roboto;
      font-size: 15px;
      font-weight: normal;

      .icon {
        margin-right: 12px;
      }

      p {
        margin-bottom: 6px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .entry-layout-terms {
    margin-top: 18px;
    padding: 0 40px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: $color-secondary-6;
    a {
      cursor: pointer;
      font-size: 13px;
      color: $color-secondary-0;
      font-weight: 500;
    }
  }
}

:host::ng-deep {
  .mat-expansion-panel {
    overflow: hidden;
  }

  .mat-expansion-panel.mat-expanded-animated {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      overflow: visible; // Fix tootip cut off
    }
    overflow: unset;
  }

  .pe-commerceos-business-registration .form-table .form-fieldset .row > [class*=col]:first-child.col-xs-12 {
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
  }

  entry-create-user-form, entry-create-business-form {
    .form-table .form-fieldset .row > [class*=col] {
      &:first-child.col-xs-6, &:first-child.col-sm-6 {
        border-top-left-radius: $border-radius-base * 3 !important;
        border-top-right-radius: unset !important;
        @media (max-width: 768px) {
          &.col-xs-12 {
            border-top-right-radius: $border-radius-base * 3 !important;
          }
        }
      }
      &:first-child.col-xs-6 + .col-xs-6, &:first-child.col-sm-6 + .col-sm-6 {
        border-top-right-radius: $border-radius-base * 3 !important;
        @media (max-width: 768px) {
          &.col-xs-12 {
            border-top-right-radius: unset !important;
          }
        }
      }
    }
  }

  /*
  // To make border 1px width instead of 2px
  .mat-expansion-panel-header,
  .mat-button-block {
    width: calc(100% + 1px);
  }*/

  // To make border 1px width instead of 2px
  .mat-accordion .mat-expansion-panel,
  .mat-accordion .mat-expansion-panel-header,
  .mat-button-block {
    width: calc(100% + 1px) !important;
  }
  .mat-accordion .mat-expansion-panel:last-of-type {
    width: calc(100% + 2px) !important;
  }
  .form-table-border-radius-md {
    border-radius: 0px !important;
  }


  .mat-button-block {
    // margin-left: -1px;
    transform: translateX(0);
    display: block !important;
    width: calc(100% + 1px) !important;
  }
  .form-table {
    overflow: visible !important; // To fix bug generated by src/assets/entry.scss
    // margin-bottom: 1px;
    .pe-form-fieldset {
      margin-left: 0px;
      width: calc(100% + 1px) !important;
    }
  }
  .form-table .form-fieldset .row > [class*=col] {
    border-width: 0 1px 1px 0 !important;
  }

  .mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .pe-recaptcha-wrap-wrap {
    margin-left: -1px;
    margin-right: -1px;
  }
}
