@import "~@pe/ui-kit/scss/pe_variables";

.not-installed-title {
  color: $color-secondary-3;
  font-size: $font-size-base;
  line-height: normal;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
}
