@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.notifications-type-wrapper {
  @include pe_flexbox;
  @include pe_align-items(center);
  @include pe_justify-content(center);

  height: $grid-unit-y * 5;
  border-bottom: 1px solid $color-secondary-2;

  .close-button {
    position: absolute;
    right: 45px;
    width: 22px;
    padding: 0;
  }
}

:host::ng-deep {
  .mat-button-toggle {
    background-color: $color-notifications-button!important;
  }
}

.sidebar-close-button {
  height: 14px;
}

.notifications-container {
  top: 55px;
  margin-bottom: 24px;
  padding-right: 24px;
}