@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.entry-layout-reset-password {
  ::ng-deep.mat-card-transparent {
    background-color: transparent;
    box-shadow: none !important;
    overflow: visible;
  }
}

@media (max-width: $viewport-breakpoint-sm-2) {
  .entry-layout-reset-password {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0; // 12px;
    pe-info-box {
      width: 100%;
      display: block;
      position: relative;
      margin: auto;
    }
  }
}

// ::ng-deep entry-layout .info-box .mat-card {
//   background-color: rgba(17, 17, 17, 0.3);
// }

.entry-text {
  display: flex;
  width: 100%;
  justify-content: center;

  button {
    color: #fff!important;
  }
}

:host::ng-deep.info-box {
  .form-table {
    @media (max-width: 719px) {
      // transform: scale(.75)!important;
      // width: 100.4%!important;
      // margin-left: -1px!important;
    }
  }

  .form-fieldset-field-padding-24 {
    min-height: 56px !important;
  }

  .mat-button-block {
    height: 55px !important;
  }
}

:host::ng-deep.info-box {
  .mat-card-transparent {
    @media (max-width: 400px) {
      //width: 100% !important;
    }
  }

  .mat-card-content-no-background-color {
    @media (max-width: $viewport-breakpoint-xs-2) {
      padding: 24px 0 !important;
    }
  }

  .logo-wrapper {
    @include pe_flexbox;
    @include pe_justify-content(center);
    color: $color-white-pe;
    margin: 28px 0;
    height: 28px;
  }

  .heading {
    // margin-bottom: $grid-unit-y * 3;
    // margin-top: 70px;
    margin-bottom: 36px;
    margin-top: -8px;
    color: $color-white-grey-7;
    font-weight: 400;
  }
  .heading-2 {
    margin-top: 11px;
    margin-bottom: 11px;
    font-weight: normal;
    line-height: 130%;
    color: $color-white-grey-8;
  }

  .mat-card-transparent .mat-card-content-padding-sm .form-table .form-fieldset {
    // margin: 0 0 0 0;
  }

  @media (max-width: 719px) {
    .form-table, entry-error {
      width: calc(100% - #{$grid-unit-y});
      margin-left: ($grid-unit-y/2);
    }
  }

  .back-button {
    color: $color-white-grey-8;
    font-weight: normal;
    display: block;
    margin: 12px auto 0;
    font-size: 14px;
    text-decoration: underline;
  }
}

.content-wrapper {
  margin: 24px auto 26px auto;
  padding: 0 16px;
}
